@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root{
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

.App{
  min-height: 100vh;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 10px 10px;
}

header{
min-height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px;
margin-bottom: 70px;
background-color: #ffffff;
border-radius: 5px;
box-shadow: var(--box-shadow);

}

header .logo{
  display: flex;
  align-items: center;
}

header .logo img{
  max-width: 35px;
  cursor: pointer;
  margin-right:4px ;
}



